body {
  padding-top: 70px;
  height: 100%;
  padding-bottom: 40px;
}

.equal, .equal > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex:1 1 auto;
}

.fxd-img {
  width: 100%;
}